[submodule "vcl/SynEdit"]
	path = vcl/SynEdit
	url = https://github.com/SynEdit/SynEdit.git
[submodule "vcl/Delphi-FFMPEG"]
	path = vcl/Delphi-FFMPEG
	url = https://github.com/Laex/Delphi-FFMPEG.git
[submodule "vcl/Neslib.Clang"]
	path = vcl/Neslib.Clang
	url = https://github.com/neslib/Neslib.Clang.git
[submodule "vcl/Virtual-TreeView"]
	path = vcl/Virtual-TreeView
	url = https://github.com/Virtual-TreeView/Virtual-TreeView.git
[submodule "vcl/FastMD5"]
	path = vcl/FastMD5
	url = https://github.com/PassByYou888/FastMD5.git
[submodule "vcl/cnvcl"]
	path = vcl/cnvcl
	url = https://github.com/cnpack/cnvcl.git
[submodule "vcl/diocp-v5"]
	path = vcl/diocp-v5
	url = https://github.com/ymofen/diocp-v5.git
[submodule "vcl/mORMot"]
	path = vcl/mORMot
	url = https://github.com/synopse/mORMot.git
[submodule "vcl/FastMM4"]
	path = vcl/FastMM4
	url = https://github.com/pleriche/FastMM4.git
[submodule "vcl/DWScript"]
	path = vcl/DWScript
	url = https://github.com/EricGrange/DWScript.git
[submodule "vcl/pascalscript"]
	path = vcl/pascalscript
	url = https://github.com/remobjects/pascalscript.git
[submodule "vcl/NtUtilsLibrary"]
	path = vcl/NtUtilsLibrary
	url = https://github.com/diversenok/NtUtilsLibrary.git
[submodule "vcl/DOSCommand"]
	path = vcl/DOSCommand
	url = https://github.com/TurboPack/DOSCommand.git
[submodule "module/Notepad3/GIT"]
	path = module/Notepad3/GIT
	url = https://github.com/rizonesoft/Notepad3.git
