*.dcu
*.identcache
*.local
*.user
/bin/Win32/plugins/uFiles.db
/bin/Win32/plugins/dbView.ini
/bin/Win32/plugins/Notepad3/Notepad3.ini
/bin/Win64/plugins/Notepad3/Notepad3.ini
/bin/Win64/plugins/OpenCV/4.5.2/GPU/bin/opencv_cudafilters452.dll
/bin/Win64/plugins/OpenCV/4.5.2/GPU/bin/opencv_cudaarithm452.dll
/bin/Win64/plugins/OpenCV/4.5.3/GPU/bin/opencv_cudafilters453.dll
/bin/Win64/plugins/OpenCV/4.5.3/GPU/bin/opencv_cudaarithm453.dll
/module/qBittorrent/x64/torrent-rasterbar.lib
/bin/Win32/plugins/OpenCV/bin/test01.exe
/bin/Win32/plugins/OpenCV/bin/test02.exe
/bin/Win32/plugins/OpenCV/face/test.jpg
/bin/Win32/plugins/cports-x64/cports.cfg
/bin/Win32/plugins/smsniff-x64/smsniff.cfg
/bin/Win64/plugins/cports-x64/cports.cfg
/bin/Win64/plugins/smsniff-x64/smsniff.cfg
/bin/Win32/plugins/Notepad++/config.xml
/bin/Win32/plugins/smsniff-x64/ipnetinfo.cfg
/bin/Win64/plugins/smsniff-x64/IPNetInfo.cfg
/bin/Win32/plugins/UninstallView/UninstallView.cfg
/bin/Win64/plugins/UninstallView/UninstallView.cfg
/bin/Win32/plugins/cports-x64
/bin/Win32/plugins/ffmpeg/single/ffmpeg.exe
/bin/Win32/plugins/ffmpeg/single/ffplay.exe
/bin/Win32/plugins/ffmpeg/single/ffprobe.exe
/bin/Win64/plugins/ffmpeg/single/ffmpeg.exe
/bin/Win64/plugins/ffmpeg/single/ffplay.exe
/bin/Win64/plugins/ffmpeg/single/ffprobe.exe
